* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --side-panel-color: #eee;
    --side-panel-right-border: rgb(185, 185, 185);
    --side-panel-text-color: black;
    --main-panel-color: #f7f7f7;
    --side-panel-size: 17rem;
    --roboto-font: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header' 'main';
}

#app header {
    grid-area: header;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 2.5rem;
    background-color: wheat;
}

#app header h1 {
    margin-left: 1rem;
    font-family: 'Roboto', sans-serif;
}

#app main {
    grid-area: main;
    display: grid;
    grid-template-columns: var(--side-panel-size) auto;
    grid-template-rows: 1fr;
    grid-template-areas: 'side-panel' 'main-panel';
}

#side-panel {
    grid-area: side-panel;
    background: var(--side-panel-color);
    padding: 1.25rem 0 0.625rem 0.625rem;
    border-right: 0.1rem solid var(--side-panel-right-border);
    width: var(--side-panel-size);
    overflow: hidden;
}

#side-panel .project {
    list-style: none;
    padding: 0.938rem 0 0.938rem 0.938rem;
    color: black;
    margin-bottom: 0.625rem;
    position: relative;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    font-family: var(--roboto-font);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#side-panel .delete-button-container {
    display: inline-flex;
    margin-right: 1rem;
}

.project-delete-button {
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    align-self: center;
}

.project-delete-button:hover {
    cursor: pointer;
}

#side-panel .active-project {
    border: 0.1rem solid gray;
    width: 101%;
}

.new-project {
    padding: 0.938rem 0 0.938rem 0.938rem;
    color: black;
    margin-bottom: 0.625rem;
    cursor: pointer;
    position: relative;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    font-family: var(--roboto-font);
    font-size: 1.2rem;
    background: transparent;
    border: none;
}

.new-project:focus {
    outline: none;
}


.new-project:hover {
    transition: 0s;
    background: rgb(221, 221, 221);
}

.project:hover {
    transition: 0s;
    background: rgb(221, 221, 221);
}

#side-panel #side-panel-hr {
    width: 15rem;
    opacity: 0.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

main #main-panel {
    background-color: var(--main-panel-color);
    display: grid;
    grid-template-rows: 4rem auto;
    grid-template-areas: 'project-header' 'todo-list-container';
}

#project-header {
    display: grid;
    grid-area: project-header;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-panel-color);
}

#project-header #project-title-container {
    display: grid;
    align-items: center;
}

#project-title-container #project-title {
    margin-left: 1rem;
    font-size: 2.5rem;
}

#main-container {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: auto 20rem;
}

#todo-information-container {
    background-color: cadetblue;
}

#todo-list-container {
    background-color: var(--main-panel-color);
}

#todo-list {
    width: 80rem;
    margin: 2.5rem auto;
    overflow-y: scroll;
    height: 45rem;
}

#todo-list::-webkit-scrollbar {
    display: none;
}

.todo {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid blue;
    border-bottom: 0.1rem solid blue;
    background-color: var(--main-panel-color);
    height: 2.5rem;
}

.todo .left-container {
    display: flex;
    width: 100%;
}

.todo .checkbox {
    margin-right: 1rem;
    align-self: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.todo .task {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.todo .completed-task {
    text-decoration: line-through;
}

.todo .right-container {
    display: flex;
    width: 20rem;
    justify-content: space-between;
    align-items: center;
}

.task-important-star {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.right-container .edit-delete-container {
    display: flex;
    justify-content: space-evenly;
    width: 10.5rem;
}

.edit-delete-container .task-edit {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem; 
}

.edit-delete-container .task-delete {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.add-todo {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    width: 98.75%;
    /* border-top: 0.1rem solid blue; */
    /* border-bottom: 0.1rem solid blue; */
    background-color: var(--main-panel-color);
    height: 2.5rem;
    font-size: inherit;
}

.add-todo:focus {
    outline: none;
}

.todo-edited {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid blue;
    border-bottom: 0.1rem solid blue;
    background-color: var(--main-panel-color);
    height: 2.5rem;
}

.todo-edited .left-container-edit-mode {
    display: flex;
    width: 100%;
}

.todo-edited .left-container-edit-mode .edit-description-input-field {
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
}

.todo-edited .left-container-edit-mode .checkbox-edit-mode {
    margin-right: 1rem;
    align-self: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.todo-edited .right-container-edit-mode {
    display: flex;
    width: 30rem;
    justify-content: space-between;
    align-content: center;
}

.todo-edited .right-container-edit-mode .task-important-star-edit-mode {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.todo-edited .right-container-edit-mode .date-input {
    font-family: inherit;
    font-size: inherit;
}

.todo-edited .right-container-edit-mode .save-button {
    width: 3rem;
    border: 0.1rem solid black;
}

.todo-edited .right-container-edit-mode .cancel-button {
    width: 3rem;
    background: none;
    border: 0.1rem solid black;
}

